<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <link rel="stylesheet" href="styles.css" />

    <title>Shuvi</title>
  </head>
  <body class="hidden">
    <header class="appbar">
      <div class="left">
        <button is="wc-icon" name="arrow"></button>

        <img class="image profile" src="../assets/profile.png" />

        <div class="user">
          <h1 class="name">Shuvi</h1>
          <p class="status">Online</p>
        </div>
      </div>

      <div class="right">
        <button is="wc-icon" name="phone"></button>
        <button is="wc-icon" name="search"></button>
        <button is="wc-icon" name="menu"></button>
      </div>
    </header>

    <main class="messages"></main>

    <footer class="footerbar">
      <button is="wc-icon" name="clip"></button>

      <form class="form" onsubmit="controller.handleSendMessage(event)">
        <input
          class="input"
          placeholder="Diga algo..."
          autofocus
          oninput="controller.handleUserInput(event)"
        />

        <button is="wc-icon" name="emoji"></button>
        <button is="wc-icon" name="send" class="hidden"></button>
        <button is="wc-icon" name="mic"></button>
      </form>
    </footer>

    <script src="../init.js" charset="utf-8" defer></script>

    <script src="../components/icon/index.js" charset="utf-8" defer></script>
    <script src="../components/message/index.js" charset="utf-8" defer></script>

    <script src="../controllers/index.js" charset="utf-8" defer></script>
  </body>
</html>
