* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #fff;
  --success: #0f0;
  --background: #2c2c2f;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  opacity: 1;
  transition: opacity 0.4s linear;

  background-color: var(--background);
}

body.hidden {
  opacity: 0;
}

.appbar {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 70px;
  max-height: 70px;

  padding: 6px 12px;
  border-bottom: 1px solid #000;

  background-color: var(--background);
}

.appbar .left,
.appbar .right {
  display: flex;
}

.appbar [is="wc-icon"] {
  padding: 4px 12px;
}

.appbar [is="wc-icon"] .arrow {
  margin-right: 4px;
}

.appbar .left .profile {
  width: 54px;
  height: 54px;
}

.appbar .left .user {
  margin-left: 16px;
}

.appbar .left .user .name {
  color: var(--text);
}

.appbar .left .user .status {
  color: var(--success);
}

.messages {
  height: calc(100% - 140px);
  padding: 6px 12px;

  overflow-y: scroll;

  background-color: var(--background);
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-position: center;
}

.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-track {
  background-color: var(--background);
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #6666669f;
}

.footerbar {
  display: flex;

  width: 100%;
  height: 70px;
  max-height: 70px;

  padding: 8px 16px;
  border-top: 1px solid #000;

  background-color: var(--background);
}

.footerbar [is="wc-icon"] {
  padding: 4px 6px;
}

.footerbar [is="wc-icon"] img {
  height: 34px;
}

.footerbar .form {
  display: flex;
  width: 100%;
}

.footerbar .form .input {
  width: 100%;
  padding: 8px 4px;

  border: none;
  outline: none;

  color: var(--text);
  font-size: 18px;

  background-color: var(--background);
}
